<div class="container py-4">
  <textarea class="form-control mb-2" rows="3" name="message" placeholder="Twitter Text"></textarea>
  <button class="btn btn-primary px-3 float-right" >Submit</button>
  <div class="clearfix"></div>
  <hr>

  <h4 class='mb-3 text-center'>List of Twitters</h4>
  <table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each tws}}
      <tr>
        <td>{{{this._id}}}</td>
        <td>{{{this.message}}}</td>
        <td>{{{this.createdAt}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>