
h1.title {
    display: block;
    border-bottom: 3px dashed #C1C1C1;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.alert {
    width: 100%;
}

.tools {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    visibility: hidden;
}