body{
    margin: 0;
    font-family: sans-serif;
    font-size: 0.95rem;
}
.container{
    margin: auto;
    max-width: 1200px;
    padding: 0 10px;
}
.text-center{
    text-align: center;
}
.table{
    width: 100%;
}